.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px;

    .intro {
        text-align: right;
        width: 50%;
        padding-right: 4rem;
        border-right: 1px solid var(--text-primary);

        h1 {
            font-size: 9rem;
            font-weight: normal;
            margin: 0;
            font-family: "阿里妈妈东方大楷 Regular";
        }

        p {
            font-size: 2rem;
            margin: 0 1rem 0 0;
        }
    }

    .signature {
        text-align: left;
        width: 60%;
        height: 100%;
        padding-left: 4rem;

        svg {
            height: 100%;
            width: 100%;

            #signature-path {
                animation: drawSignature 5s linear forwards;
            }
        }
    }

    .top-section-social {
        position: absolute;
        bottom: 3rem;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 1300px) {
    .top-section {
        .intro {
            h1 {
                font-size: 6.5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 912px) and (min-width: 750px) {
    .top-section {
        .intro {
            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 1.3rem;
                margin: 1rem 1rem 0 0;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .top-section {
        flex-direction: column;

        .intro {
            text-align: center;
            border-bottom: 1px solid var(--text-primary);
            border-right: none;
            width: auto;
            padding: 0;
            padding-bottom: 2rem;

            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 1.3rem;
                margin: 1rem 1rem 0 0;
            }
        }

        .signature {
            height: 30%;
            padding: 0;
            padding-top: 2rem;
        }
    }
}

@keyframes drawSignature {
    to {
        stroke-dashoffset: 0;
    }
}
