// Importing fonts
// @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// 引入本地阿里妈妈东方大楷字体
@font-face {
  font-family: "阿里妈妈东方大楷 Regular";
  src: url("./assets/font/almmdfdk/AlimamaDongFangDaKai-Regular.woff2") format("woff2"),
       url("./assets/font/almmdfdk/AlimamaDongFangDaKai-Regular.woff") format("woff"),
       url("./assets/font/almmdfdk/AlimamaDongFangDaKai-Regular.ttf") format("truetype"),
       url("./assets/font/almmdfdk/AlimamaDongFangDaKai-Regular.otf") format("opentype");
  font-variation-settings: normal;
  font-display: swap;
  font-weight: unset;
}

// 引入本地得意黑斜体字体
@font-face {
  font-family: "得意黑 斜体";
  font-weight: normal;
  font-style: italic;
  src: url("./assets/font/dyh/SmileySans-Oblique.woff2") format("woff2"),
       url("./assets/font/dyh/SmileySans-Oblique.woff") format("woff"),
       url("./assets/font/dyh/SmileySans-Oblique.ttf") format("truetype"),
       url("./assets/font/dyh/SmileySans-Oblique.otf") format("opentype");
  font-display: swap;
}

// 字体变量
$font-almmdfdk: "阿里妈妈东方大楷 Regular";
$font-dyh: "得意黑 斜体";
$font-varela: 'Varela Round', sans-serif;

// Variables for light theme
:root {
    --bg-primary: #fafafa;
    --text-primary: #000000;
    --text-secondary: #e0e0e0;
    font-size: 16px;
}

// Variables for dark theme
.dark-mode {
    --bg-primary: #2f2f2f;
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-primary);
    color: var(--text-primary);
    // font-family: 'Varela Round', sans-serif;
    font-family: '得意黑 斜体', sans-serif;
    font-size: 16px;
    // 深色模式过渡动画
    transition: all 0.7s;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

input, textarea, button {
    font-family: inherit;
}

.body-wrapper {
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
    
}

a {
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.MuiTooltip-tooltip {
    font-size: 1em !important;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary);
}
